In [14]:
!pip install sqlalchemy
import pandas as pd
from sqlalchemy import create_engine

Requirement already satisfied: sqlalchemy in c:\users\laptop\anaconda3\lib\site-packages (1.2.15)

In [15]:
# pull first csv into dataframe
min_wage_file = "Raw_Data/Minimum_Wage_Data.csv"
min_wage_df = pd.read_csv(min_wage_file, encoding = "utf-8")
min_wage_df.head()

,Year,State,Table_Data,Footnote,High.Value,Low.Value,CPI.Average,High.2018,Low.2018
0,1968,Alabama,...,NaN,0.00000,0.00000,34.783333,0.00,0.00
1,1968,Alaska,2.1,NaN,2.10000,2.10000,34.783333,15.12,15.12
2,1968,Arizona,18.72 - 26.40/wk(b),(b),0.66000,0.46800,34.783333,4.75,3.37
3,1968,Arkansas,1.25/day(b),(b),0.15625,0.15625,34.783333,1.12,1.12
4,1968,California,1.65(b),(b),1.65000,1.65000,34.783333,11.88,11.88

In [16]:
# remove years prior to 2010
min_year_df = min_wage_df.loc[(min_wage_df['Year'] == 2010) |
                          (min_wage_df['Year'] == 2011) |
                          (min_wage_df['Year'] == 2012) |
                          (min_wage_df['Year'] == 2013) |
                          (min_wage_df['Year'] == 2014) |
                          (min_wage_df['Year'] == 2015) |
                          (min_wage_df['Year'] == 2016)]

# alternative:
# min_wage_df2 = min_wage_df[(min_wage_df[‘Year’] > 2009)]
# min_wage_df2.head()

min_year_df

,Year,State,Table_Data,Footnote,High.Value,Low.Value,CPI.Average,High.2018,Low.2018
2310,2010,Alabama,...,NaN,0.00,0.00,218.055500,0.00,0.00
2311,2010,Alaska,7.75,NaN,7.75,7.75,218.055500,8.90,8.90
2312,2010,Arizona,7.25,NaN,7.25,7.25,218.055500,8.33,8.33
2313,2010,Arkansas,6.25[c],[c],6.25,6.25,218.055500,7.18,7.18
2314,2010,California,8,NaN,8.00,8.00,218.055500,9.19,9.19
2315,2010,Colorado,7.24,NaN,7.24,7.24,218.055500,8.31,8.31
2316,2010,Connecticut,8.25,NaN,8.25,8.25,218.055500,9.47,9.47
2317,2010,Delaware,7.25,NaN,7.25,7.25,218.055500,8.33,8.33
2318,2010,District of Columbia,8.25,NaN,8.25,8.25,218.055500,9.47,9.47
2319,2010,Federal (FLSA),7.25,NaN,7.25,7.25,218.055500,8.33,8.33
2320,2010,Florida,7.25,NaN,7.25,7.25,218.055500,8.33,8.33
2321,2010,Georgia,5.15(d),(d),5.15,5.15,218.055500,5.91,5.91
2322,2010,Guam,7.25,NaN,7.25,7.25,218.055500,8.33,8.33
2323,2010,Hawaii,7.25,NaN,7.25,7.25,218.055500,8.33,8.33
2324,2010,Idaho,7.25,NaN,7.25,7.25,218.055500,8.33,8.33
2325,2010,Illinois,8.00[c],[c],8.00,8.00,218.055500,9.19,9.19
2326,2010,Indiana,7.25(e),(e),7.25,7.25,218.055500,8.33,8.33
2327,2010,Iowa,7.25,NaN,7.25,7.25,218.055500,8.33,8.33
2328,2010,Kansas,7.25,NaN,7.25,7.25,218.055500,8.33,8.33
2329,2010,Kentucky,7.25,NaN,7.25,7.25,218.055500,8.33,8.33
2330,2010,Louisiana,...,NaN,0.00,0.00,218.055500,0.00,0.00
2331,2010,Maine,7.5,NaN,7.50,7.50,218.055500,8.61,8.61
2332,2010,Maryland,7.25,NaN,7.25,7.25,218.055500,8.33,8.33
2333,2010,Massachusetts,8,NaN,8.00,8.00,218.055500,9.19,9.19
2334,2010,Michigan,7.40(e),(e),7.40,7.40,218.055500,8.50,8.50
2335,2010,Minnesota,5.25-6.15(g),(g),6.15,5.25,218.055500,7.06,6.03
2336,2010,Mississippi,...,NaN,0.00,0.00,218.055500,0.00,0.00
2337,2010,Missouri,7.25,NaN,7.25,7.25,218.055500,8.33,8.33
2338,2010,Montana,4.00-7.25(g),(g),7.25,4.00,218.055500,8.33,4.59
2339,2010,Nebraska,7.25[c],[c],7.25,7.25,218.055500,8.33,8.33
...,...,...,...,...,...,...,...,...,...
2665,2016,Minnesota,7.25-9.50(g),(g),9.50,7.25,240.007167,9.91,7.56
2666,2016,Mississippi,...,NaN,0.00,0.00,240.007167,0.00,0.00
2667,2016,Missouri,7.65,NaN,7.65,7.65,240.007167,7.98,7.98
2668,2016,Montana,8.05(g),(g),8.05,8.05,240.007167,8.40,8.40
2669,2016,Nebraska,9.00[c],[c],9.00,9.00,240.007167,9.39,9.39
2670,2016,Nevada,7.25-8.25,NaN,8.25,7.25,240.007167,8.61,7.56
2671,2016,New Hampshire,7.25,NaN,7.25,7.25,240.007167,7.56,7.56
2672,2016,New Jersey,8.38,NaN,8.38,8.38,240.007167,8.74,8.74
2673,2016,New Mexico,7.5,NaN,7.50,7.50,240.007167,7.82,7.82
2674,2016,New York,9,NaN,9.00,9.00,240.007167,9.39,9.39
2675,2016,North Carolina,7.25,NaN,7.25,7.25,240.007167,7.56,7.56
2676,2016,North Dakota,7.25,NaN,7.25,7.25,240.007167,7.56,7.56
2677,2016,Ohio,7.25-8.10,NaN,8.10,7.25,240.007167,8.45,7.56
2678,2016,Oklahoma,2.00-7.25(g),(g),7.25,2.00,240.007167,7.56,2.09
2679,2016,Oregon,9.75,NaN,9.75,9.75,240.007167,10.17,10.17
2680,2016,Pennsylvania,7.25,NaN,7.25,7.25,240.007167,7.56,7.56
2681,2016,Puerto Rico,5.08-7.25(i),(i),7.25,5.08,240.007167,7.56,5.30
2682,2016,Rhode Island,9.6,NaN,9.60,9.60,240.007167,10.02,10.02
2683,2016,South Carolina,...,NaN,0.00,0.00,240.007167,0.00,0.00
2684,2016,South Dakota,8.55,NaN,8.55,8.55,240.007167,8.92,8.92
2685,2016,Tennessee,...,NaN,0.00,0.00,240.007167,0.00,0.00
2686,2016,Texas,7.25,NaN,7.25,7.25,240.007167,7.56,7.56
2687,2016,U.S. Virgin Islands,4.30-7.25(j),(j),7.25,4.30,240.007167,7.56,4.49
2688,2016,Utah,7.25,NaN,7.25,7.25,240.007167,7.56,7.56
2689,2016,Vermont,9.60(e),(e),9.60,9.60,240.007167,10.02,10.02
2690,2016,Virginia,7.25[c],[c],7.25,7.25,240.007167,7.56,7.56
2691,2016,Washington,9.47,NaN,9.47,9.47,240.007167,9.88,9.88
2692,2016,West Virginia,8.75,NaN,8.75,8.75,240.007167,9.13,9.13
2693,2016,Wisconsin,7.25,NaN,7.25,7.25,240.007167,7.56,7.56
2694,2016,Wyoming,5.15,NaN,5.15,5.15,240.007167,5.37,5.37

In [17]:
# remove extraneous columns
min_wage_df2 = min_year_df.drop(['Footnote', 'Table_Data', 'High.2018', 'Low.2018', 'CPI.Average'], axis =1)
min_wage_df2.head()

      Year       State  High.Value  Low.Value
2310  2010     Alabama        0.00       0.00
2311  2010      Alaska        7.75       7.75
2312  2010     Arizona        7.25       7.25
2313  2010    Arkansas        6.25       6.25
2314  2010  California        8.00       8.00

In [18]:
# make column names lower-case
min_wage_df2.columns = ["year","state","high_value","low_value"]
min_wage_df2.head()

      year       state  high_value  low_value
2310  2010     Alabama        0.00       0.00
2311  2010      Alaska        7.75       7.75
2312  2010     Arizona        7.25       7.25
2313  2010    Arkansas        6.25       6.25
2314  2010  California        8.00       8.00

In [50]:
# Make the index the id column
min_wage_df2 = min_wage_df2.reset_index(drop=False)
min_wage_df2.rename(columns = {"index":"id"}, inplace = True)
min_wage_df2

       id  year                 state  high_value  low_value
0    2310  2010               Alabama        0.00       0.00
1    2311  2010                Alaska        7.75       7.75
2    2312  2010               Arizona        7.25       7.25
3    2313  2010              Arkansas        6.25       6.25
4    2314  2010            California        8.00       8.00
5    2315  2010              Colorado        7.24       7.24
6    2316  2010           Connecticut        8.25       8.25
7    2317  2010              Delaware        7.25       7.25
8    2318  2010  District of Columbia        8.25       8.25
9    2319  2010        Federal (FLSA)        7.25       7.25
10   2320  2010               Florida        7.25       7.25
11   2321  2010               Georgia        5.15       5.15
12   2322  2010                  Guam        7.25       7.25
13   2323  2010                Hawaii        7.25       7.25
14   2324  2010                 Idaho        7.25       7.25
15   2325  2010              Illinois        8.00       8.00
16   2326  2010               Indiana        7.25       7.25
17   2327  2010                  Iowa        7.25       7.25
18   2328  2010                Kansas        7.25       7.25
19   2329  2010              Kentucky        7.25       7.25
20   2330  2010             Louisiana        0.00       0.00
21   2331  2010                 Maine        7.50       7.50
22   2332  2010              Maryland        7.25       7.25
23   2333  2010         Massachusetts        8.00       8.00
24   2334  2010              Michigan        7.40       7.40
25   2335  2010             Minnesota        6.15       5.25
26   2336  2010           Mississippi        0.00       0.00
27   2337  2010              Missouri        7.25       7.25
28   2338  2010               Montana        7.25       4.00
29   2339  2010              Nebraska        7.25       7.25
..    ...   ...                   ...         ...        ...
355  2665  2016             Minnesota        9.50       7.25
356  2666  2016           Mississippi        0.00       0.00
357  2667  2016              Missouri        7.65       7.65
358  2668  2016               Montana        8.05       8.05
359  2669  2016              Nebraska        9.00       9.00
360  2670  2016                Nevada        8.25       7.25
361  2671  2016         New Hampshire        7.25       7.25
362  2672  2016            New Jersey        8.38       8.38
363  2673  2016            New Mexico        7.50       7.50
364  2674  2016              New York        9.00       9.00
365  2675  2016        North Carolina        7.25       7.25
366  2676  2016          North Dakota        7.25       7.25
367  2677  2016                  Ohio        8.10       7.25
368  2678  2016              Oklahoma        7.25       2.00
369  2679  2016                Oregon        9.75       9.75
370  2680  2016          Pennsylvania        7.25       7.25
371  2681  2016           Puerto Rico        7.25       5.08
372  2682  2016          Rhode Island        9.60       9.60
373  2683  2016        South Carolina        0.00       0.00
374  2684  2016          South Dakota        8.55       8.55
375  2685  2016             Tennessee        0.00       0.00
376  2686  2016                 Texas        7.25       7.25
377  2687  2016   U.S. Virgin Islands        7.25       4.30
378  2688  2016                  Utah        7.25       7.25
379  2689  2016               Vermont        9.60       9.60
380  2690  2016              Virginia        7.25       7.25
381  2691  2016            Washington        9.47       9.47
382  2692  2016         West Virginia        8.75       8.75
383  2693  2016             Wisconsin        7.25       7.25
384  2694  2016               Wyoming        5.15       5.15

[385 rows x 5 columns]

In [19]:
# pull second csv into dataframe
pub_assistance_file = "Raw_Data/sub-est2016_all.csv"
pub_assistance_df = pd.read_csv(pub_assistance_file, encoding='utf-8')
pub_assistance_df.head()

,SUMLEV,STATE,COUNTY,PLACE,COUSUB,CONCIT,PRIMGEO_FLAG,FUNCSTAT,NAME,STNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016
0,40,1,0,0,0,0,0,A,Alabama,Alabama,4779736,4780131,4785492,4799918,4815960,4829479,4843214,4853875,4863300
1,162,1,0,124,0,0,0,A,Abbeville city,Alabama,2688,2688,2683,2685,2647,2631,2619,2616,2603
2,162,1,0,460,0,0,0,A,Adamsville city,Alabama,4522,4522,4517,4495,4472,4447,4428,4395,4360
3,162,1,0,484,0,0,0,A,Addison town,Alabama,758,756,754,753,748,748,747,740,738
4,162,1,0,676,0,0,0,A,Akron town,Alabama,356,356,355,345,345,342,337,337,334

In [20]:
# rename columns to be more readable
pub_assistance_df.columns = ["geographic_summary_level","state_FIPS_code", "county_FIPS_code", "place_FIPS_code", "minor_civil_div_FIPS_code", "consolidated_city_FIPS_code", "primitive_geography_flag", "functional_status_code","city", "state", "census_pop_2010", 
                             "est_base_2010", "est_pop_2010", "est_pop_2011", "est_pop_2012", "est_pop_2013", "est_pop_2014", "est_pop_2015", "est_pop_2016"]

pub_assistance_df.head()

,geographic_summary_level,state_FIPS_code,county_FIPS_code,place_FIPS_code,minor_civil_div_FIPS_code,consolidated_city_FIPS_code,primitive_geography_flag,functional_status_code,city,state,census_pop_2010,est_base_2010,est_pop_2010,est_pop_2011,est_pop_2012,est_pop_2013,est_pop_2014,est_pop_2015,est_pop_2016
0,40,1,0,0,0,0,0,A,Alabama,Alabama,4779736,4780131,4785492,4799918,4815960,4829479,4843214,4853875,4863300
1,162,1,0,124,0,0,0,A,Abbeville city,Alabama,2688,2688,2683,2685,2647,2631,2619,2616,2603
2,162,1,0,460,0,0,0,A,Adamsville city,Alabama,4522,4522,4517,4495,4472,4447,4428,4395,4360
3,162,1,0,484,0,0,0,A,Addison town,Alabama,758,756,754,753,748,748,747,740,738
4,162,1,0,676,0,0,0,A,Akron town,Alabama,356,356,355,345,345,342,337,337,334

In [21]:
# create new dictionary to replace SUMLEV column numbers with their description
SUMLEV_dict = {"geographic_summary_level": [40,50,61,71,157,162,170,172],
               "geographic_level": ["State", "County", "Minor Civil Division", "Minor Civil Division place part",
                                    "County place part", "Incorporated place", "Consolidated city",
                                    "Consolidated city -- place within consolidated city"]}

SUMLEV_df = pd.DataFrame(SUMLEV_dict)

In [22]:
# merge dictionary with dataframe as new column
new_pub_assist_df = pub_assistance_df.merge(SUMLEV_df, on='geographic_summary_level', how='left')
new_pub_assist_df.head()

,geographic_summary_level,state_FIPS_code,county_FIPS_code,place_FIPS_code,minor_civil_div_FIPS_code,consolidated_city_FIPS_code,primitive_geography_flag,functional_status_code,city,state,census_pop_2010,est_base_2010,est_pop_2010,est_pop_2011,est_pop_2012,est_pop_2013,est_pop_2014,est_pop_2015,est_pop_2016,geographic_level
0,40,1,0,0,0,0,0,A,Alabama,Alabama,4779736,4780131,4785492,4799918,4815960,4829479,4843214,4853875,4863300,State
1,162,1,0,124,0,0,0,A,Abbeville city,Alabama,2688,2688,2683,2685,2647,2631,2619,2616,2603,Incorporated place
2,162,1,0,460,0,0,0,A,Adamsville city,Alabama,4522,4522,4517,4495,4472,4447,4428,4395,4360,Incorporated place
3,162,1,0,484,0,0,0,A,Addison town,Alabama,758,756,754,753,748,748,747,740,738,Incorporated place
4,162,1,0,676,0,0,0,A,Akron town,Alabama,356,356,355,345,345,342,337,337,334,Incorporated place

In [23]:
# pull out state entries
state_pub_assist_df = new_pub_assist_df[(new_pub_assist_df['geographic_summary_level'] == 40)]
state_pub_assist_df.head()

,geographic_summary_level,state_FIPS_code,county_FIPS_code,place_FIPS_code,minor_civil_div_FIPS_code,consolidated_city_FIPS_code,primitive_geography_flag,functional_status_code,city,state,census_pop_2010,est_base_2010,est_pop_2010,est_pop_2011,est_pop_2012,est_pop_2013,est_pop_2014,est_pop_2015,est_pop_2016,geographic_level
0,40,1,0,0,0,0,0,A,Alabama,Alabama,4779736,4780131,4785492,4799918,4815960,4829479,4843214,4853875,4863300,State
1105,40,2,0,0,0,0,0,A,Alaska,Alaska,710231,710249,714031,722713,731089,736879,736705,737709,741894,State
1452,40,4,0,0,0,0,0,A,Arizona,Arizona,6392017,6392301,6408312,6467163,6549634,6624617,6719993,6817565,6931071,State
1673,40,5,0,0,0,0,0,A,Arkansas,Arkansas,2915918,2916025,2921995,2939493,2950685,2958663,2966912,2977853,2988248,State
2848,40,6,0,0,0,0,0,A,California,California,37253956,37254522,37332685,37676861,38011074,38335203,38680810,38993940,39250017,State

In [24]:
# drop unneeded columns
state_pub_assist_df2 = state_pub_assist_df.drop(["census_pop_2010", "est_base_2010", "geographic_summary_level","state_FIPS_code", "county_FIPS_code", "place_FIPS_code", "minor_civil_div_FIPS_code", 
                                                 "consolidated_city_FIPS_code", "primitive_geography_flag", "functional_status_code", "city", "geographic_level"], axis=1)
state_pub_assist_df2

,state,est_pop_2010,est_pop_2011,est_pop_2012,est_pop_2013,est_pop_2014,est_pop_2015,est_pop_2016
0,Alabama,4785492,4799918,4815960,4829479,4843214,4853875,4863300
1105,Alaska,714031,722713,731089,736879,736705,737709,741894
1452,Arizona,6408312,6467163,6549634,6624617,6719993,6817565,6931071
1673,Arkansas,2921995,2939493,2950685,2958663,2966912,2977853,2988248
2848,California,37332685,37676861,38011074,38335203,38680810,38993940,39250017
3925,Colorado,5048644,5118360,5189867,5267603,5349648,5448819,5540545
4616,Connecticut,3579899,3589893,3593795,3596003,3591873,3584730,3576452
4901,Delaware,899816,907924,916993,925395,934948,944076,952065
5025,District of Columbia,605183,620477,635327,649165,659005,670377,681170
5029,Florida,18849098,19096952,19344156,19582022,19888741,20244914,20612439
5989,Georgia,9713521,9811610,9914668,9984938,10087231,10199398,10310371
7441,Hawaii,1363945,1377864,1391820,1406481,1416349,1425157,1428557
7450,Idaho,1571010,1584143,1595911,1612011,1633532,1652828,1683140
7944,Illinois,12841578,12860012,12870798,12879505,12867544,12839047,12801539
15302,Indiana,6490528,6516480,6537743,6569102,6595233,6612768,6633053
19096,Iowa,3050738,3065223,3076310,3091930,3108030,3121997,3134693
21255,Kansas,2858850,2869503,2885262,2892821,2899360,2906721,2907289
25397,Kentucky,4348662,4369354,4384799,4400477,4413057,4424611,4436974
26575,Louisiana,4544996,4575404,4603429,4626402,4647880,4668960,4681666
27318,Maine,1327730,1328231,1328895,1329076,1330719,1329453,1331479
27948,Maryland,5788584,5843603,5889651,5931129,5967295,5994983,6016447
28312,Massachusetts,6565524,6611923,6658008,6706786,6749911,6784240,6811779
28848,Michigan,9877495,9876213,9887238,9898982,9915767,9917715,9928300
32538,Minnesota,5311147,5348562,5380285,5418521,5453109,5482435,5519952
37994,Mississippi,2970322,2978162,2984945,2990482,2992400,2989390,2988726
38775,Missouri,5996118,6010717,6025415,6042711,6060930,6076204,6093000
41637,Montana,990641,997821,1005196,1014314,1022867,1032073,1042520
42009,Nebraska,1830051,1842283,1855725,1868559,1881145,1893765,1907116
44097,Nevada,2703284,2718379,2752565,2786464,2833013,2883758,2940058
44162,New Hampshire,1316872,1318473,1321182,1322687,1328743,1330111,1334795
44480,New Jersey,8803729,8841243,8873211,8899162,8925001,8935421,8944469
46060,New Mexico,2064756,2077756,2083784,2085193,2083024,2080328,2081015
46341,New York,19402640,19519529,19602769,19673546,19718515,19747183,19745289
49797,North Carolina,9558915,9650963,9746175,9841590,9934399,10035186,10146788
51160,North Dakota,674526,685476,702087,724019,739904,756835,757952
54064,Ohio,11540983,11544824,11550839,11570022,11594408,11605090,11614373
59665,Oklahoma,3759603,3786274,3817054,3852415,3877499,3907414,3923561
61045,Oregon,3838048,3868031,3899116,3925751,3968371,4024634,4093465
61615,Pennsylvania,12712343,12744293,12771854,12781338,12790565,12791904,12784227
67386,Rhode Island,1053337,1052451,1052901,1053033,1054480,1055607,1056426
67458,South Carolina,4635943,4672637,4720760,4767894,4828430,4894834,4961119
68118,South Dakota,816325,824398,834441,844922,852561,857919,865454
70423,Tennessee,6356671,6397634,6454306,6494821,6544663,6595056,6651194
71349,Texas,25244310,25646389,26071655,26473525,26944751,27429639,27862596
74458,Utah,2775326,2816124,2855782,2902663,2941836,2990632,3051217
75013,Vermont,625982,626730,626444,627140,626984,626088,624594
75449,Virginia,8025773,8110035,8192048,8262692,8317372,8367587,8411808
76129,Washington,6743226,6822520,6895226,6968006,7054196,7160290,7288000
76778,West Virginia,1854230,1854972,1856560,1853231,1848514,1841053,1831102
77361,Wisconsin,5690263,5709640,5726177,5742854,5758377,5767891,5778708
81339,Wyoming,564513,567725,576765,582684,583642,586555,585501

In [45]:
# rename year columns
state_pub_assist_df2.columns = ['state', '2010', '2011', '2012', '2013', '2014', '2015', '2016']
state_pub_assist_df2

,state,2010,2011,2012,2013,2014,2015,2016
0,Alabama,4785492,4799918,4815960,4829479,4843214,4853875,4863300
1105,Alaska,714031,722713,731089,736879,736705,737709,741894
1452,Arizona,6408312,6467163,6549634,6624617,6719993,6817565,6931071
1673,Arkansas,2921995,2939493,2950685,2958663,2966912,2977853,2988248
2848,California,37332685,37676861,38011074,38335203,38680810,38993940,39250017
3925,Colorado,5048644,5118360,5189867,5267603,5349648,5448819,5540545
4616,Connecticut,3579899,3589893,3593795,3596003,3591873,3584730,3576452
4901,Delaware,899816,907924,916993,925395,934948,944076,952065
5025,District of Columbia,605183,620477,635327,649165,659005,670377,681170
5029,Florida,18849098,19096952,19344156,19582022,19888741,20244914,20612439
5989,Georgia,9713521,9811610,9914668,9984938,10087231,10199398,10310371
7441,Hawaii,1363945,1377864,1391820,1406481,1416349,1425157,1428557
7450,Idaho,1571010,1584143,1595911,1612011,1633532,1652828,1683140
7944,Illinois,12841578,12860012,12870798,12879505,12867544,12839047,12801539
15302,Indiana,6490528,6516480,6537743,6569102,6595233,6612768,6633053
19096,Iowa,3050738,3065223,3076310,3091930,3108030,3121997,3134693
21255,Kansas,2858850,2869503,2885262,2892821,2899360,2906721,2907289
25397,Kentucky,4348662,4369354,4384799,4400477,4413057,4424611,4436974
26575,Louisiana,4544996,4575404,4603429,4626402,4647880,4668960,4681666
27318,Maine,1327730,1328231,1328895,1329076,1330719,1329453,1331479
27948,Maryland,5788584,5843603,5889651,5931129,5967295,5994983,6016447
28312,Massachusetts,6565524,6611923,6658008,6706786,6749911,6784240,6811779
28848,Michigan,9877495,9876213,9887238,9898982,9915767,9917715,9928300
32538,Minnesota,5311147,5348562,5380285,5418521,5453109,5482435,5519952
37994,Mississippi,2970322,2978162,2984945,2990482,2992400,2989390,2988726
38775,Missouri,5996118,6010717,6025415,6042711,6060930,6076204,6093000
41637,Montana,990641,997821,1005196,1014314,1022867,1032073,1042520
42009,Nebraska,1830051,1842283,1855725,1868559,1881145,1893765,1907116
44097,Nevada,2703284,2718379,2752565,2786464,2833013,2883758,2940058
44162,New Hampshire,1316872,1318473,1321182,1322687,1328743,1330111,1334795
44480,New Jersey,8803729,8841243,8873211,8899162,8925001,8935421,8944469
46060,New Mexico,2064756,2077756,2083784,2085193,2083024,2080328,2081015
46341,New York,19402640,19519529,19602769,19673546,19718515,19747183,19745289
49797,North Carolina,9558915,9650963,9746175,9841590,9934399,10035186,10146788
51160,North Dakota,674526,685476,702087,724019,739904,756835,757952
54064,Ohio,11540983,11544824,11550839,11570022,11594408,11605090,11614373
59665,Oklahoma,3759603,3786274,3817054,3852415,3877499,3907414,3923561
61045,Oregon,3838048,3868031,3899116,3925751,3968371,4024634,4093465
61615,Pennsylvania,12712343,12744293,12771854,12781338,12790565,12791904,12784227
67386,Rhode Island,1053337,1052451,1052901,1053033,1054480,1055607,1056426
67458,South Carolina,4635943,4672637,4720760,4767894,4828430,4894834,4961119
68118,South Dakota,816325,824398,834441,844922,852561,857919,865454
70423,Tennessee,6356671,6397634,6454306,6494821,6544663,6595056,6651194
71349,Texas,25244310,25646389,26071655,26473525,26944751,27429639,27862596
74458,Utah,2775326,2816124,2855782,2902663,2941836,2990632,3051217
75013,Vermont,625982,626730,626444,627140,626984,626088,624594
75449,Virginia,8025773,8110035,8192048,8262692,8317372,8367587,8411808
76129,Washington,6743226,6822520,6895226,6968006,7054196,7160290,7288000
76778,West Virginia,1854230,1854972,1856560,1853231,1848514,1841053,1831102
77361,Wisconsin,5690263,5709640,5726177,5742854,5758377,5767891,5778708
81339,Wyoming,564513,567725,576765,582684,583642,586555,585501

In [46]:
# melt data from wide to long dataset
something_new_df = pd.melt(state_pub_assist_df2, id_vars=['state'], value_vars=['2010', '2011', '2012', '2013', '2014', '2015', '2016'])
something_new_df

                    state variable     value
0                 Alabama     2010   4785492
1                  Alaska     2010    714031
2                 Arizona     2010   6408312
3                Arkansas     2010   2921995
4              California     2010  37332685
5                Colorado     2010   5048644
6             Connecticut     2010   3579899
7                Delaware     2010    899816
8    District of Columbia     2010    605183
9                 Florida     2010  18849098
10                Georgia     2010   9713521
11                 Hawaii     2010   1363945
12                  Idaho     2010   1571010
13               Illinois     2010  12841578
14                Indiana     2010   6490528
15                   Iowa     2010   3050738
16                 Kansas     2010   2858850
17               Kentucky     2010   4348662
18              Louisiana     2010   4544996
19                  Maine     2010   1327730
20               Maryland     2010   5788584
21          Massachusetts     2010   6565524
22               Michigan     2010   9877495
23              Minnesota     2010   5311147
24            Mississippi     2010   2970322
25               Missouri     2010   5996118
26                Montana     2010    990641
27               Nebraska     2010   1830051
28                 Nevada     2010   2703284
29          New Hampshire     2010   1316872
..                    ...      ...       ...
327         Massachusetts     2016   6811779
328              Michigan     2016   9928300
329             Minnesota     2016   5519952
330           Mississippi     2016   2988726
331              Missouri     2016   6093000
332               Montana     2016   1042520
333              Nebraska     2016   1907116
334                Nevada     2016   2940058
335         New Hampshire     2016   1334795
336            New Jersey     2016   8944469
337            New Mexico     2016   2081015
338              New York     2016  19745289
339        North Carolina     2016  10146788
340          North Dakota     2016    757952
341                  Ohio     2016  11614373
342              Oklahoma     2016   3923561
343                Oregon     2016   4093465
344          Pennsylvania     2016  12784227
345          Rhode Island     2016   1056426
346        South Carolina     2016   4961119
347          South Dakota     2016    865454
348             Tennessee     2016   6651194
349                 Texas     2016  27862596
350                  Utah     2016   3051217
351               Vermont     2016    624594
352              Virginia     2016   8411808
353            Washington     2016   7288000
354         West Virginia     2016   1831102
355             Wisconsin     2016   5778708
356               Wyoming     2016    585501

[357 rows x 3 columns]

In [47]:
# rename columns
something_new_df.columns = ['state', 'year', 'est_population']
something_new_df

                    state  year  est_population
0                 Alabama  2010         4785492
1                  Alaska  2010          714031
2                 Arizona  2010         6408312
3                Arkansas  2010         2921995
4              California  2010        37332685
5                Colorado  2010         5048644
6             Connecticut  2010         3579899
7                Delaware  2010          899816
8    District of Columbia  2010          605183
9                 Florida  2010        18849098
10                Georgia  2010         9713521
11                 Hawaii  2010         1363945
12                  Idaho  2010         1571010
13               Illinois  2010        12841578
14                Indiana  2010         6490528
15                   Iowa  2010         3050738
16                 Kansas  2010         2858850
17               Kentucky  2010         4348662
18              Louisiana  2010         4544996
19                  Maine  2010         1327730
20               Maryland  2010         5788584
21          Massachusetts  2010         6565524
22               Michigan  2010         9877495
23              Minnesota  2010         5311147
24            Mississippi  2010         2970322
25               Missouri  2010         5996118
26                Montana  2010          990641
27               Nebraska  2010         1830051
28                 Nevada  2010         2703284
29          New Hampshire  2010         1316872
..                    ...   ...             ...
327         Massachusetts  2016         6811779
328              Michigan  2016         9928300
329             Minnesota  2016         5519952
330           Mississippi  2016         2988726
331              Missouri  2016         6093000
332               Montana  2016         1042520
333              Nebraska  2016         1907116
334                Nevada  2016         2940058
335         New Hampshire  2016         1334795
336            New Jersey  2016         8944469
337            New Mexico  2016         2081015
338              New York  2016        19745289
339        North Carolina  2016        10146788
340          North Dakota  2016          757952
341                  Ohio  2016        11614373
342              Oklahoma  2016         3923561
343                Oregon  2016         4093465
344          Pennsylvania  2016        12784227
345          Rhode Island  2016         1056426
346        South Carolina  2016         4961119
347          South Dakota  2016          865454
348             Tennessee  2016         6651194
349                 Texas  2016        27862596
350                  Utah  2016         3051217
351               Vermont  2016          624594
352              Virginia  2016         8411808
353            Washington  2016         7288000
354         West Virginia  2016         1831102
355             Wisconsin  2016         5778708
356               Wyoming  2016          585501

[357 rows x 3 columns]

In [48]:
# Add a column for WIC_usage, even if we don't have the data
something_new_df["WIC_usage"] = 'NaN'
something_new_df

                    state  year  est_population WIC_usage
0                 Alabama  2010         4785492       NaN
1                  Alaska  2010          714031       NaN
2                 Arizona  2010         6408312       NaN
3                Arkansas  2010         2921995       NaN
4              California  2010        37332685       NaN
5                Colorado  2010         5048644       NaN
6             Connecticut  2010         3579899       NaN
7                Delaware  2010          899816       NaN
8    District of Columbia  2010          605183       NaN
9                 Florida  2010        18849098       NaN
10                Georgia  2010         9713521       NaN
11                 Hawaii  2010         1363945       NaN
12                  Idaho  2010         1571010       NaN
13               Illinois  2010        12841578       NaN
14                Indiana  2010         6490528       NaN
15                   Iowa  2010         3050738       NaN
16                 Kansas  2010         2858850       NaN
17               Kentucky  2010         4348662       NaN
18              Louisiana  2010         4544996       NaN
19                  Maine  2010         1327730       NaN
20               Maryland  2010         5788584       NaN
21          Massachusetts  2010         6565524       NaN
22               Michigan  2010         9877495       NaN
23              Minnesota  2010         5311147       NaN
24            Mississippi  2010         2970322       NaN
25               Missouri  2010         5996118       NaN
26                Montana  2010          990641       NaN
27               Nebraska  2010         1830051       NaN
28                 Nevada  2010         2703284       NaN
29          New Hampshire  2010         1316872       NaN
..                    ...   ...             ...       ...
327         Massachusetts  2016         6811779       NaN
328              Michigan  2016         9928300       NaN
329             Minnesota  2016         5519952       NaN
330           Mississippi  2016         2988726       NaN
331              Missouri  2016         6093000       NaN
332               Montana  2016         1042520       NaN
333              Nebraska  2016         1907116       NaN
334                Nevada  2016         2940058       NaN
335         New Hampshire  2016         1334795       NaN
336            New Jersey  2016         8944469       NaN
337            New Mexico  2016         2081015       NaN
338              New York  2016        19745289       NaN
339        North Carolina  2016        10146788       NaN
340          North Dakota  2016          757952       NaN
341                  Ohio  2016        11614373       NaN
342              Oklahoma  2016         3923561       NaN
343                Oregon  2016         4093465       NaN
344          Pennsylvania  2016        12784227       NaN
345          Rhode Island  2016         1056426       NaN
346        South Carolina  2016         4961119       NaN
347          South Dakota  2016          865454       NaN
348             Tennessee  2016         6651194       NaN
349                 Texas  2016        27862596       NaN
350                  Utah  2016         3051217       NaN
351               Vermont  2016          624594       NaN
352              Virginia  2016         8411808       NaN
353            Washington  2016         7288000       NaN
354         West Virginia  2016         1831102       NaN
355             Wisconsin  2016         5778708       NaN
356               Wyoming  2016          585501       NaN

[357 rows x 4 columns]

In [49]:
# Make the index the id column
something_new_df = something_new_df.reset_index(drop=False)
something_new_df.rename(columns = {"index":"id"}, inplace = True)
something_new_df

      id                 state  year  est_population WIC_usage
0      0               Alabama  2010         4785492       NaN
1      1                Alaska  2010          714031       NaN
2      2               Arizona  2010         6408312       NaN
3      3              Arkansas  2010         2921995       NaN
4      4            California  2010        37332685       NaN
5      5              Colorado  2010         5048644       NaN
6      6           Connecticut  2010         3579899       NaN
7      7              Delaware  2010          899816       NaN
8      8  District of Columbia  2010          605183       NaN
9      9               Florida  2010        18849098       NaN
10    10               Georgia  2010         9713521       NaN
11    11                Hawaii  2010         1363945       NaN
12    12                 Idaho  2010         1571010       NaN
13    13              Illinois  2010        12841578       NaN
14    14               Indiana  2010         6490528       NaN
15    15                  Iowa  2010         3050738       NaN
16    16                Kansas  2010         2858850       NaN
17    17              Kentucky  2010         4348662       NaN
18    18             Louisiana  2010         4544996       NaN
19    19                 Maine  2010         1327730       NaN
20    20              Maryland  2010         5788584       NaN
21    21         Massachusetts  2010         6565524       NaN
22    22              Michigan  2010         9877495       NaN
23    23             Minnesota  2010         5311147       NaN
24    24           Mississippi  2010         2970322       NaN
25    25              Missouri  2010         5996118       NaN
26    26               Montana  2010          990641       NaN
27    27              Nebraska  2010         1830051       NaN
28    28                Nevada  2010         2703284       NaN
29    29         New Hampshire  2010         1316872       NaN
..   ...                   ...   ...             ...       ...
327  327         Massachusetts  2016         6811779       NaN
328  328              Michigan  2016         9928300       NaN
329  329             Minnesota  2016         5519952       NaN
330  330           Mississippi  2016         2988726       NaN
331  331              Missouri  2016         6093000       NaN
332  332               Montana  2016         1042520       NaN
333  333              Nebraska  2016         1907116       NaN
334  334                Nevada  2016         2940058       NaN
335  335         New Hampshire  2016         1334795       NaN
336  336            New Jersey  2016         8944469       NaN
337  337            New Mexico  2016         2081015       NaN
338  338              New York  2016        19745289       NaN
339  339        North Carolina  2016        10146788       NaN
340  340          North Dakota  2016          757952       NaN
341  341                  Ohio  2016        11614373       NaN
342  342              Oklahoma  2016         3923561       NaN
343  343                Oregon  2016         4093465       NaN
344  344          Pennsylvania  2016        12784227       NaN
345  345          Rhode Island  2016         1056426       NaN
346  346        South Carolina  2016         4961119       NaN
347  347          South Dakota  2016          865454       NaN
348  348             Tennessee  2016         6651194       NaN
349  349                 Texas  2016        27862596       NaN
350  350                  Utah  2016         3051217       NaN
351  351               Vermont  2016          624594       NaN
352  352              Virginia  2016         8411808       NaN
353  353            Washington  2016         7288000       NaN
354  354         West Virginia  2016         1831102       NaN
355  355             Wisconsin  2016         5778708       NaN
356  356               Wyoming  2016          585501       NaN

[357 rows x 5 columns]

In [31]:
# Create the Data Connection
rds_connection_string = "root:<password>@127.0.0.1/demographics_db"
engine = create_engine(f'mysql://{rds_connection_string}')

In [32]:
# Confirm tables
engine.table_names()

['min_wage', 'pub_assist']

In [51]:
# Load the Data to MySQL
something_new_df.to_sql(name='pub_assist', con=engine, if_exists='append', index=False)
min_wage_df2.to_sql(name='min_wage', con=engine, if_exists='append', index=False)